@import "nullstyle.scss";

.wrapper {
   background-color: black;
   height: 100%;
}

.content {
   padding: 50px;
}

.content__circle {
   width: 100px;
   height: 100px;
   background-color: #fff;
   border-radius: 50%;
   position: relative;
   left: 0;

   /* animation-name: white-circle;
   animation-duration: 2s;
   animation-timing-function: linear;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-delay: 2s;
   animation-fill-mode: forwards;*/
   animation: white-circle 2s linear infinite alternate 0s forwards, red-circle 5s ease infinite alternate 0s forwards; //краткая запись
}

@keyframes white-circle {
   0% {
      left: 0;
   }
   50% {
      border-radius: 0;
   }
   100% {
      left: 500px;
   }
}

@keyframes red-circle {
   0% {
      left: 500px;
      background-color: red;
   }
   50% {
   }
   100% {
      left: 0;
   }
}

.content:hover .content__circle {
   animation-play-state: paused;
}
